  .App{
    display: grid;
    width: 1000px;
    height: 800px;
    margin: auto;
      background-color: rgba(0, 0, 255, 0.19);
      grid-template-areas:
      "one two"
      "one five ";
  }

 .menu{
      height: 700px;
      width: 300px;
      margin-top: 50px;
      margin-left: 50px;
      background-color: rgba(0, 0, 255, 0.31);
      grid-area: one;
      text-align: center;
  }

  .top{
      grid-area: two;
      display: flex;
      justify-content: space-around;
      width: 600px;
      margin: 50px 20px;

      background-color: rgba(0, 0, 255, 0.31);
  }

  .bottom{
    background-color: rgba(0, 0, 255, 0.31);
    width: 600px;
    height: 400px;
    margin: 10px 20px;
    text-align: center;
  }
  .metrics {
      background-color: white;
      text-align: center;
      height: 200px;
      margin: 50px;
  }

  .Reviews, .Ratings, .Analysis{
      background-color: white;
  }

  
